@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  height: 100%;
  scroll-behavior: smooth;
  scroll-padding-top: 80px;

  @apply bg-white dark:bg-black;
}

p {
  @apply text-lg leading-8;
}

body {
  margin: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  min-height: 100%;

  @apply bg-gradient-to-tr dark:from-gray-900 dark:to-black dark:text-neutral-100;

  background-size: cover;
  background-repeat: no-repeat;
}

#__next {
  min-height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

a {
  @apply dark:text-white cursor-pointer underline;
}

.title {
  font-family: "Krona One", sans-serif;
}

.bg {
  filter: blur(10px);
}

.bg-blur {
  backdrop-filter: blur(10px);
}
